@charset "utf-8";


*{
	margin: 0;
	padding: 0;
	font-family: Arial;
	overflow: visible;
}


*{
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/*configurando div site*/
#site{
    /* Definimos a largura da página */
    width:100%;
    /* Definirmos a altura da página*/
    height:100%;
    /* Aqui definiremos a posição que a página ocupará na tela, nesse caso estamos definindo que fique centralizado na tela*/
    /*top : posição de cima */
    margin-top:-25;
    /* left: posição de esquerda*/
    margin-left:auto;
    /* bottom : posição de baixo */
    margin-bottom:0;
    /* right : posição de direita */
    margin-right:auto;
    /* Aqui definiremos a cor de fundo da página */
    background-color:#666;
	/*Posição da Div principal*/ 
	position: absolute;
	width: 100%;
}

/*configurando o cabeçalho1*/
#header1{
    /*Novamente definimos a largura da div*/
    width:100%;
    /* altura da div */
    height:41px;
    /* Cor de fundo da div */
    background-color:#09F;
    }
	
/*configurando o cabeçalho2*/
#header2{
    /*Novamente definimos a largura da div*/
    width:100%;
    /* altura da div */
    height:100px;
    /* Cor de fundo da div */
    background-color:#FFF;
	/*Sombra*/
	box-shadow:1px 1px 5px #000;
    }

/*configurando o conteúdo*/	
#conteudo{
    /*Novamente definimos a largura da div*/
    width:100%;
    /* altura da div */
    height:600px;
    /* Cor de fundo da div */
    background-color:#D1CEF1;
	/*Sombra*/
	box-shadow:1px 1px 5px #000; 
}

	
/*começo do conteudo */
#dentro_conteudo{
float: center;
background-color:#783F87;
margin-left:100px;
padding:10px;
width:80%;
height:95%;
}

/*configurando o rodapé*/ 
#footer{
    /*Novamente definimos a largura da div*/
    width:100%;
    /* altura da div */
    height:25px;
    /* Cor de fundo da div */
    background-color:#FFF;
	/*Sombra*/
	box-shadow:1px 1px 5px #000;
    }



/*Começo da formatação do logo*/
logo1{
	position: absolute;
	top: 10px;
	left: 47px;
	z-index: 5;
	width: 340px;
	height: 99px;
}

logo3{
	position: absolute;
	top: 251px;
	right: 911px;
	z-index: 5;
	width: 97px;
	height: 45px;
}

logo2{
	position: relative;
	top:0;
	left:100;
	z-index:15;
}


/*COMEÇO DA FORMATAÇÃO DO MENU*/
*body{
	float:right;  /*menu alinhado à direita*/
} 

#cssmenu {
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;

}

#cssmenu ul,
#cssmenu li { /* sem marcadores de lista */
  list-style: none;  
  margin: 0;   
  padding: 0;
}

#cssmenu ul {
  position: relative;
  z-index: 597;
  top: 0px; /*altura com o topo*/
}

#cssmenu ul li { 
  float: right; /* menu vertical*/
  min-height: 1px;
  vertical-align: middle;
}


#cssmenu a { 
  display: block !important;
  text-decoration: none; /* sem sublinhado ou outra formatacao */
}

/* Custom CSS Styles */
#cssmenu {
  font-family: Verdana, Tahoma;
  font-size: 13px;
}

#cssmenu ul {
  text-transform: uppercase;
}

#cssmenu ul ul {
  text-transform: none;
}



#cssmenu ul ul li:first-child > a {
  border-top: 1px solid #fff; /* linha em cima do submenu */
}

#cssmenu ul ul li:hover > a {
  background: #fff; /* cor do fundo do submenu selecionado */
  color: #000; /* cor da letra do submenu selecionado */
}

#cssmenu ul li:hover > a,
#cssmenu ul li.active > a { /* destaque azul - deixar ou não */
  background: #FFF;
  color: #09F;
}


#cssmenu a {
  background: #09F; /* cor do menu */
  color: #FFF; /* cor das letras sem seleção */
  padding: 0 17px; /* espaçamento do menu */
}

#cssmenu > ul > li > a {
  line-height: 40px; /* altura do menu*/
  font-size: 15px; /* tamanho da fonte */
}


/*FIM DA FORMATAÇÃO DO MENU*/



/*Começo da formatação do Menu em Abas*/



body {
  background: #222222;
}
a:focus {
  outline: none;
}
.content {
	width: 100%;
	height: 100%;
}
.clearfix:after {
  content: '.';
  height: 0;
  font-size: 0;
  line-height: 0;
  display: block;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
 
/* Abas */
.tabs-content {
  background: #eee;
  font-family: sans-serif;
}
 
/* Menu das abas */
.tabs-menu {
  background: #0074a2;
}
.tabs-menu ul {
   list-style: none;
}
.tabs-menu ul li {
	float: left;
	width: 50%;
}
.tabs-menu ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #fff;
}
.tabs-menu ul li a.active-tab-menu {
  background: #eee;
  color: #000;
}
 
/* Conteúdo das abas */
.tabs {
  display: none;
  padding: 30px;
}
.first-tab {
	display: block;
	position: absolute;
	height: 100%;
	width: 1111px;
	left: 116px;
}

/*Personalizando a tabela*/
#table{
background: #F0F0F1;
border: #F7F7FA;
border-bottom-color: #F7F7FA;
}

/*----------------------------------------------------------------------------------------------*/


/*lenght=comprimento
width=largura
height=altura 
background: cor da sidebar
color: cor da fonte
width: tamanho da sidebar
font-size: tamanho da fonte
font-family: tipo de fonte
margin-top: espaço do topo (quanto maior o valor mais em baixo fica)
margin-left: espaço da esquerda (quanto maior o valor mais perto da direita fica)
padding: espaço entre a borda da sidebar
position: fixed e absolute (fixo e móvel)
margin-bottom: espaço de baixo entre as outras caixas (box)
*/
