
@charset "utf-8";
 body{ background-color:white;
	font-family: Verdana, Arial;
	font-size:1px;
	font-color:black;
    text-align: justify;
	}
     p {
	   text-align: justify;
	    text-indent:45px;
	 }
img, object, embed, video {
	max-width: 100%;
}

.ie6 img {
	width:100%;
}
#div{
	pading:10px;}

.gridContainer {
	width: 100%;
	max-width: 1150px;
	/*padding-left: 0.9%;
	padding-right: 0.9%;*/
	margin: auto;
	position:relative;
	height:1500px;
}

#Topo {
	clear: both;
	float: left;
	width:1150px;
	display: block;
	/*background-color:#e9e8e8;*/
	background-image:url(../imagens/Back-quem-PG.png);
	 border:1px;
	 border-style:solid;
	 border-color:#CCC;
	 margin-top:4px;

}
#Topo img {
	width:420px;
	margin-left:20px;
}
#pai{ 
    width:82.60869565217391%;/*950px*/
	float:left;
	padding: 10px 0 0 0;
	background-color:#0F6;
}

#div-pai-postagens{
	width:70.77777777777778%;/*Largura: 637/900 */
	/*margin-left:1.31578947368421%;25px*/
	height:1200px;/* mudar largura da div pai*/
	clear:none;
	float:left;
	background-color:white;/*#FF0000Vermelho*/
	}
.area-postagens img, .descricao-evento{
	margin-top:15px;
}
.area-postagens{
	width:800px;/*Largura: 637/637*/
	height:300px;
	 box-shadow:1px 1px 5px #000;/*Sombra*/
	 display:table;
	 background-color:white;
	
	
	 
	
	

	 
	 margin-top:25px;
}
.area-postagens img{
	width:600px;
	height:400px;
	background-color:#fff;
	padding:3px;
}
.titulo-postagem{
	/*background-color:#093;*/
	padding: 5px 0 1px 0;
	color:White;
	font-size:21px;
	background-color:#5288C5;

	

	}
.titulo-postagem h1{
	color:black;
	font-size:12px;
	float:left;
	margin-left:25px;
	}
.area-postagens .titulo-postagem a{
	color:#09f;
	}

.area-postagens a{
	margin:0px 0 5px 25px;
	text-decoration:none;
}
.area-postagens a:hover{
	text-decoration:underline;
}

.descricao-evento{
	width:200%;/*625px*/
	max-width:610px;
	margin-bottom:15px;
	height:190px;
	padding:10px;
	float:left;
	background-color:white;
	/*A#FFFF00marello*/
	
	}
#div-pai-propagandas{
	width:15.42207792207792%;/*width:170px;*/
	position:absolute;
	right:97px;
	top:200px;
	
	}
.propagandas{
	width:100%;/*max-width:220px;*/
	margin-top:19px;
	 border:1px;
	 border-style:solid;
	 border-color:#CCC;
	
} 

