@charset "utf-8";
 body{ background-color:white;
	font-family: Verdana, Arial;
	font-size:14px;
	font-color:black;
    text-align: justify;
	}
     p {
	   text-align: justify;
	    text-indent:22px;
	 }

img, object, embed, video {
	max-width: 100%;
}

.ie6 img {
	width:100%;
}



.gridContainer {
	width: 100%;
	max-width: 1150px;
	/*padding-left: 0.9%;
	padding-right: 0.9%;*/
	margin: auto;
	position:relative;
	height:1500px;
}

#Topo {
	clear: both;
	float: left;
	width:1150px;
	display: block;
	/*background-color:#e9e8e8;*/
	background-image:url(../imagens/Back-ponto-PG.png);
	 border:1px;
	 border-style:solid;
	 border-color:#CCC;
	 margin-top:4px;

}
#Topo img {
	width:400px;
	margin-left:20px;
}
#pai{ 
    width:82.60869565217391%;/*950px*/
	float:left;
	padding: 10px 0 0 0;
	background-color:#0F6;
}

#div-pai-postagens{
	width:70.77777777777778%;/*Largura: 637/900 */
	/*margin-left:1.31578947368421%;25px*/
	height:1200px;/* mudar largura da div pai*/
	clear:none;
	float:left;
	background-color:white;/*#FF0000Vermelho*/
	}
.area-postagens img, .descricao-ponto{
	margin-top:15px;
}
.area-postagens{
	width:800px;/*Largura: 637/637*/
	height:300px;
	 box-shadow:1px 1px 5px #000;/*Sombra*/
	 display:table;
	 background-color:#BECFEB;
	
	

	 
	 margin-top:25px;
}
.area-postagens img{
	width:300px;
	height:300px;
	background-color:#fff;
	padding:3px;
}
.titulo-postagem{
	/*background-color:#093;*/
	padding: 5px 0 1px 0;
	color:white;
	font-size:21px;
	background-color:#92BFDA;
	

	}
.titulo-postagem h1{
	color:White;
	font-size:12px;
	float:left;
	margin-left:25px;
	}
.area-postagens .titulo-postagem a{
	color:#09f;
	}

.area-postagens a{
	margin:0px 0 5px 25px;
	text-decoration:none;
}
.area-postagens a:hover{
	text-decoration:underline;
}

.descricao-ponto{
	width:450px;/*625px*/
	max-width:610px;
	margin-bottom:15px;
	height:290px;
	padding:10px;
	float:right;
	background-color:white;/*A#FFFF00marello*/
	color:black;
	}

#div-pai-propagandas{
	width:15.42207792207792%;/*width:170px;*/
	position:absolute;
	right:0px;
	top:198px; /* muda a altura da div com relação ao navegado*/
	
	}
.propagandas img{
	width:200px;
	height:220px;
	margin-top:13px;/*muda a altura das propragandas uma com relação á outra imagem*/
	border:1px;
	border-style:solid;
	border-color:#CCC;
}
#rodapé_site{ 
 width:100%;
 height:40px;
 background-color:#009
 clear:both;
 }