*{
	margin:0;
	padding:0;
	outline:none;
	list-style:none;
}

body{
	font:300 16px verdana;
}

a{
	text-decoration:none;
}

#login{
width: 300px;
margin:0 auto;
position:relative;
top:200px;
border:1px solid #f1f1f1;
padding:12px;
}

.logo{
	width: 250px;
	height:90px;
	margin:0 auto;
	padding: 7px;
	position:relative;
	top:5px;
}

.flash{	
	width:100%;
	height:40px;
	background:#09f;
	opacity:1;
	text-align:center;
	line-height:40px;
	font:400 20px verdana;
	color:#000;
	position: absolute;
	top:0;
	left:0;
}

#cadastrar{
	border-bottom-left-radius:8px;	
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:8px;
	height:40px;
	width:120px;
	background:#09F;
	text-align:center; 
	position:absolute;
	right:0;
	top:0;
	z-index:2; /*sobrepor*/
}  

.message{
	width::100%
	padding:10px;	  
	color:#fff;
	background:#F00;
	margin:0 auto;
	text-align:center;
	
}

#cadastrar a{
	padding-top:5px
	display:block;
	color:#000;
	font:400 18px verdana;	
}

#cadastrar:hover a{
color:#f1f1f1;
}
#cadastrar:hover{
	background:#232323;
	color:#fff;	
}

.form label{
display:block;
padding-top:5px;
}

.agrupar{
	margin:0 auto;
	width: 250px;	
}

.txt{
border:none;
height:40px;
width:250px;
border: thin solid #09f;
}
.txt:focus{
border:thin solid #09F;
box-shadow:0 2px 10px #09F;
-webkit-box-shadow:0 2px 10px #09F;
-moz-box-shadow:0 2px 10px #09F;
}

.sb{
display:block;
border:none;
width:250px;
height:40px;
margin-top:10px;
font:400 18px verdana;
color:#000;
background:#0CF;
}
.sb:hover{
background:#09f;
}

.bradius{
border-radius:1px;
-webkit-border-radius:1px;
-moz-border-radius:1px;
}
.fleft{
float:left;	
}
.fright{
float:right;
}

.txt,.txt:focus,.sb,.sb:hover,#cadastrar:hover,#cadastrar{
transition:all 0.5s linear;
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
}

/* TABELA */

/* roScripts
Table Design by Mihalcea Romeo
www.roscripts.com
----------------------------------------------- */

table {
		border-collapse:collapse;
		background:#EFF4FB url(http://www.roscripts.com/images/teaser.gif) repeat-x;
		border-left:1px solid #686868;
		border-right:1px solid #686868;
		font:0.8em/145% 'Trebuchet MS',helvetica,arial,verdana;
		color: #333;
}

td, th {
		padding:5px;
}

caption {
		padding: 0 0 .5em 0;
		text-align: left;
		font-size: 1.4em;
		font-weight: bold;
		text-transform: uppercase;
		color: #333;
		background: transparent;
}

/* =links
----------------------------------------------- */

table a {
		color:#950000;
		text-decoration:none;
}

table a:link {}

table a:visited {
		font-weight:normal;
		color:#666;
		text-decoration: line-through;
}

table a:hover {
		border-bottom: 1px dashed #bbb;
}

/* =head =foot
----------------------------------------------- */

thead th, tfoot th, tfoot td {
		background:#333 url(http://www.roscripts.com/images/llsh.gif) repeat-x;
		color:#fff
}

tfoot td {
		text-align:right
}

/* =body
----------------------------------------------- */

tbody th, tbody td {
		border-bottom: dotted 1px #333;
}

tbody th {
		white-space: nowrap;
}

tbody th a {
		color:#333;
}

.odd {}

tbody tr:hover {
		background:#fafafa
}