@charset "utf-8";


.area-res-postagens{
	width:100%;/*Largura: 637/637*/
	height:auto;
	 box-shadow:1px 1px 5px #000;/*Sombra*/
	 margin-top:30px;
	 display:table;
	 position:relative;
}
.titulo-postagem-resumo-pesquisa{
	padding: 5px 0 1px 0;
	color:#09f;
	font-size:19px;
	width:50%;
	position:absolute;
	right:0px;
	background-color:#0099ff;
		}
#div-pai-detalhes-basicos-postagem h1{
	color:#999;
	font-size:12px;
	float:right;
	margin:27px 10px 0 0;
	text-decoration:underline;
		}
.area-res-postagens .titulo-postagem-resumo-pesquisa a{
	color:#fff;
	}

.area-res-postagens a{
	text-decoration:none;
	margin-left:15px;
}
.area-res-postagens a:hover{
	text-decoration:underline;
}
.detalhes-basicos-resumo-postagem{
	font-size:13px;
	color:#999;
	margin:5px 0 0 10px;
}
#div-pai-detalhes-basicos-postagem{
	width:50%;
	float:right;
	margin:40px 0 0 0;
	padding:0;
	}
.imagem-da-postagem-resumo-postagem img{
	width:50%;/*625px*/
	max-width:625px;
	float:left;
	margin:0;
	padding:0;
	height:200px;
}

@media only screen and (max-width: 1149px){
.gridContainer {
	max-width: 1024px;
}
#pai{ 
    width:92.7734375%;/*950px*/
}
#Quadro-de-filtros {
	width:22.5%;/*200 */
}
#div-pai-postagens{
	width:62.5%;/*Largura: 500/800 */
	}
.area-postagens{
	height:400px;
}
.imagem-da-postagem{
	width:94.19152276295133%;/*600px*/
	max-width:600px;
}

}


@media only screen and (max-width: 800px){
.gridContainer {
	width: 90%;
	max-width: 768px;
}
#Topo img {
	width:200px;
}

#pai{ 
    width:84.63541666666667%;/*650px*/
}
#Quadro-de-filtros {
	width:100%;/*500*/
}
#Quadro-de-filtros ul{
    width: 95%;
}
#Quadro-de-filtros ul li a{
	margin-left:15px;
	float:left;
}

#div-pai-postagens{
	width:100%;/*Largura:   */
	}

.area-postagens{
	height:400px;
}
.imagem-da-postagem{
	width:94.19152276295133%;/*600px*/
	max-width:600px;
}

#div-pai-propagandas{
	display:none;
	
	}
.propagandas{
	display:none;
	
}

}