@charset "utf-8";
/* Mídia fluida simples
   Nota: a mídia fluida exige a remoção dos seus atributos de comprimento e largura do HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
#map_canvas img{
	max-width:none;Corrige o erro do icone de zoom do mapa*/
	}
/* O IE 6 não oferece suporte a largura máxima; por isso, o padrão de largura deve ser 100% */
.ie6 img {
	width:100%;
}
     html { height: 100% }
   /*   body {margin: 0; padding: 0 }*/
      #map_canvas {
	 width:100%;
	  height:500px;
	  margin:0 auto;
	  border-color:#000;
	  border-style:solid;
	  border-width:2px;
	 top:20px;
	 float:right;
	  }

#logo-tela-inicio{
		width:160px;
		float:left;
		margin-top:6px;
		margin-right25px;
	}

.gridContainer {
	width: 100%;
	max-width: 1150px;
	/*padding-left: 0.9%;
	padding-right: 0.9%;*/
	margin: auto;
	position:relative;
}

#Topo {
	clear: both;
	float: left;
	width: 100%;
	display: block;
	height:150px;
	margin-top:2px;
	/*background-color:#e9e8e8;*/
	background-image:url(../imagens/Back-mapa-PG.png);
	 border:1px;
	 border-style:solid;
	 border-color:#CCC;

}
#Topo img {
	width:300px;
	margin-left:20px;
	margin-top:25px;
}
#formPesquisa form input[type="search"]{
	width:500px; /* largura form pesquisa */
	height:40px; /* altura do form pesquisa */
	top:120px;
	right:50px;
	position:absolute;
	font-size:18px;
	padding:0 0 1px 8px;
	}
form input[type="submit"] { /*Estilo do botão pesquisar*/
	background-image: url(../imagens/btnPesquisa3.jpg);
	cursor:pointer;
	width:45px;
	height:45px;
	top:120px;
	right:6px;
	position:absolute;
	background-repeat:no-repeat;
	border:none;
	background-color:transparent;
		}
#pai{ 
    width:82.60869565217391%;/*950px*/
	float:left;
	padding: 10px 0 0 0;
	/*background-color:#0F6;*/
}

#Quadro-de-filtros {
	float: left;
	display: block;
	background-color:#fff;
	 box-shadow:1px 1px 5px #000;/*Sombra*/
	width:24.21052631578947%;/*230 /1100 = 0,1833333333333333 * 100*/
	margin-top:30px;
	padding:0px;
	padding-bottom:20px;
}
#Quadro-de-filtros ul{
	list-style:none; 
	 margin: 0;
    padding-left: 11px;
    width: 150px;
	
}
#Quadro-de-filtros ul li a{
	text-decoration: none;
	display:block;
	color:#000;
	padding-top:3px;

}
#Quadro-de-filtros h3{
	background-color:#09f;
	padding:7px;
	color:#FFF;
	margin-top:0px;
	font-size:15px;
	/*border:solid;
	border-color:#06F;
	border-width:1px;
	*/
}

#Quadro-de-filtros form{
	padding-left:10px;
	
}
#Quadro-de-filtros form h4{
	margin-bottom:0px;
	}


#div-pai-postagens{
	width:70.77777777777778%;/*Largura: 637/900 */
	margin-left:2.631578947368421%;/*25px*/
	clear:none;
	float:left;

	/*background-color:#FF0; Verde*/
	}
	#div-pai-postagens center{/*estilo da msg de nenhum res de pesq*/
	margin-top:50px;
	font-size:16px;
	}
.fb-comments{
	margin-left:25px;
	
	}
.area-postagens{
	width:100%;/*Largura: 637/637*/
	height:600px;
	 box-shadow:1px 1px 5px #000;/*Sombra*/
	 margin-top:30px;
	 display:table;
}
.titulo-postagem{
	/*background-color:#093;*/
	padding: 5px 0 1px 0;
	/*background-color:#fff;*/
	color:#09f;
	font-size:20px;

	}
.titulo-postagem h1{
	color:#999;
	font-size:12px;
	float:right;
	/*margin-right:25px;*/
	}
.area-postagens .titulo-postagem a{
	color:#09f;

	}

.area-postagens a{
	margin:0px 0 5px 25px;
	text-decoration:none;

}
.area-postagens a:hover{
	text-decoration:underline;
}
.detalhes-basicos-postagem{
	margin:0 0 5px 20px;
	font-size:11px;
	color:#999;
}
#div-pai-detalhes-basicos-postagem h3{
	font-size:11px;
	color:#333;

	}

#div-pai-detalhes-basicos-postagem{
	background-color:#DFDFDF;
	padding:5px;

	}
#div-pai-detalhes-basicos-postagem h5{
	padding:0 7px 0 7px;
	margin:0;
	font-size:12px;
	text-align:justify;
}
#div-pai-detalhes-basicos-postagem h1{
	background-color:#993;
	font-size:9px;
	margin:0;
}
.imagem-da-postagem{
	width:98.11616954474097%;/*625px*/
	max-width:625px;
	margin:0 auto;
}
.descricao-evento{
	width:93.72056514913658%;/*625px*/
	max-width:610px;
	margin-bottom:15px;
	height:100px;
	padding:20px;
	margin:0 auto;
	}

#div-pai-propagandas{
	width:15.42207792207792%;/*width:170px;*/
	position:absolute;
	right:0px;
	top:215px;
	
	}
.propagandas{
	width:100%;/*max-width:220px;*/
	margin-top:10px;
	 border:1px;
	 border-style:solid;
	 border-color:#CCC;
	
} 
#iw-container{
	height:200px;
	width:300px;
}


#iw-container  .iw-title{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 15px;
	padding: 5px 10px;
	background-color: #48b5e9;
	margin: 1px;
	border-radius: 2px 2px 0 0;
}

#iw-container .iw-title a {
	width:100%;
	color: white;
	text-decoration:none;
}
#iw-container .iw-title a:hover {
	text-decoration:underline;

}
.iw-content{
	/*background-color:#0F0;*/
	margin:0px;
	overflow-y: auto;
	overflow-x: auto;
	height:150px;
	}
	

/*#iw-container  .iw-content {
	color: #333;
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
	margin-right: 1px;
	padding: 10px 5px 10px 10px;
	max-height: 140px;
	overflow-y: auto;
	overflow-x: hidden;
}*/
.iw-content img {
	float: right;
	margin-top:0px;
	padding:0px;
}
.iw-content p {
	padding:5px 0 5px 5px;
	/*background-color:#63C;*/
}
.iw-content h5 {
	/*background-color:#3F9;*/
	margin:0px;
	font-size:12px;
}

.iw-subTitle {
	font-size: 13px;
	font-weight: 700;
	width:50%;
	/*background-color:#CCC;*/
	float:left;
	padding:5px 0 5px 5px;
}
/*.iw-bottom-gradient {
	position: absolute;
	width: 326px;
	height: 25px;
	bottom: 20px;
	right: 16px;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}*/


/*
@media only screen and (max-width: 1149px){
.gridContainer {
	max-width: 1024px;
}
#pai{ 
    width:92.7734375%;/*950px*/
/*}
#Quadro-de-filtros {
	width:22.5%;/*200 */
/*}
#div-pai-postagens{
	width:62.5%;/*Largura: 500/800 */
	}
/*.area-postagens{
	height:400px;
}
.imagem-da-postagem{
	width:94.19152276295133%;/*600px*/
/*	max-width:600px;
}

}


@media only screen and (max-width: 800px){
.gridContainer {
	width: 90%;
	max-width: 768px;
}
#Topo img {
	width:200px;
}

#pai{ 
    width:84.63541666666667%;/*650px*/
/*}
#Quadro-de-filtros {
	width:100%;/*500*/
/*}
#Quadro-de-filtros ul{
    width: 95%;
}
#Quadro-de-filtros ul li a{
	margin-left:15px;
	float:left;
}

#div-pai-postagens{
	width:100%;/*Largura:   */
	/*}

.area-postagens{
	height:400px;
}
.imagem-da-postagem{
	width:94.19152276295133%;/*600px*/
	/*max-width:600px;
}

#div-pai-propagandas{
	display:none;
	
	}
.propagandas{
	display:none;
	
}

}*/