@charset "utf-8";
/* CSS Document */

#cssmenu {
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
  margin-top:22px;
  float:right;
}

#cssmenu ul,
#cssmenu li { /* sem marcadores de lista */
  list-style: none;  
  margin: 0;   
  padding: 0;
}

#cssmenu ul {
 position: relative;
  z-index: 597;
}

#cssmenu ul li { 
  float: left; /* menu vertical*/
  min-height: 1px;
  vertical-align: middle;
}

#cssmenu ul li.hover,
#cssmenu ul li:hover { /* submenu vertical */
  position: relative;  
  z-index: 599;
  cursor: default;
}

#cssmenu ul ul { /* esconder sub menu */
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
}

#cssmenu ul ul li {
  float: none !important; /* submenu tamanho do destaque auto */
}

#cssmenu ul li:hover > ul { /* exibir submenu */
  visibility: visible;
}

#cssmenu a { 
  display: block !important;
  text-decoration: none; /* sem sublinhado ou outra formatacao */
}

/* Custom CSS Styles */
#cssmenu {
  font-family: Verdana, Tahoma;
  font-size: 12px;
}

#cssmenu ul {
  text-transform: uppercase;
}

#cssmenu ul ul {
  text-transform: none;
}

#cssmenu ul ul a {
  background: #fff; /* cor do fundo do submenu nao selecionado*/
  color: #000; /* cor da letra do submenu nao selecionado*/
  border: 1px solid #09F; /* borda do submenu */  
  border-top: 0 none; /* bordar entre os destaques */  
  line-height: 100%; /* altura do submenu */
  padding: 10px; /* espaçamento superior do submenu */
  font-size: 14px;
}

#cssmenu ul ul li:first-child > a {
  border-top: 1px solid #fff; /* linha em cima do submenu */
}

#cssmenu ul ul li:hover > a {
  background: #fff; /* cor do fundo do submenu selecionado */
  color: #000; /* cor da letra do submenu selecionado */
}

#cssmenu ul li:hover > a,
#cssmenu ul li.active > a { /* destaque azul - deixar ou não */
  background: #06F;
  color: #fff;
}

li#destaques {	
	min-width: 190px !important; /* tamanho do destaques */
	text-align: center;
}

#cssmenu a {
  background: #FFF; /* cor do menu */
  color: #000; /* cor das letras sem seleção */
  padding: 0 17px; /* espaçamento do menu */
}

#cssmenu > ul > li > a {
  line-height: 30px; /* altura do menu*/
  font-size: 15px; /* tamanho da fonte */
}

img#imagem {
	vertical-align:central;
	width: 155px;
	height: 90px;
	border: solid 2px;
	border-color:#E8E8E8;
}

img#imagem:hover { /* imagem selecionada */
	border: solid 3px;
	border-color:#00e;
} 

